<%= form_for @article, :url => skvsdovlmfd_articles_path do |f| %>

   <%= render :partial => 'form', :locals => {:f => f } %>
    
    <%= f.submit "Create", :class => 'btn btn-primary' %>

<% end %>
<h3>預覽畫面</h3>
 <%= link_to 'Preview', {:controller => 'skvsdovlmfd/articles', :action => 'preview',:id => '1'},:class => "btn btn-info", :remote => 'true' %>
<div class="panel panel-default">
  <div class="panel-body" id="preview">
    <p>(請點選藍色按鈕產生預覽)</p>
  </div>
</div>